body{
		background-image:url(images/hotelimage-edit.jpg);
		background-color: #cccccc;
}


/*Navigation
	-------------------------------------*/

.nav-container {
	  /*max-width: 1440px;*/
	  margin: 0, auto;
	 /* width: 88%*/;
	  display: block;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-flex-wrap:wrap;
	  justify-content: space-between;
	 /* padding-left: 4em;*/
}


.logo {
	margin: 0 auto;
    max-width: 1440px;
    min-width: 40%;
    width: 90%;
	
}

.nav-links {
	max-width: 100%;
	display: block;
	margin: 0,auto;
	display: block;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	margin-left: 3.5em;
}

nav {
	font-size: 14px;
	font-family: Futura, Helvetica, sans-serif;
	margin:0;
	padding-top:2em;
}



a {
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 2.8em;
}


nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }



nav ul li a {
	display: block;
	padding: em;
	border-radius: 15px;
	margin-bottom: 2em;
	transition: all .5s ease-in-out;
}

nav ul li a:hover {
	color: #f89b1c;
	text-decoration: underline;
}



.book-now-button {
    background:#f89b1c;
	padding: .9em .9em;
	border-radius: 1px;
	margin-top: -1em;
	transition: all .5s ease-in-out;
}

.book-now-button:hover {
	background: #eeeeee;
	color: black;
}
   

/*Layout
	-------------------------------------*/

.body-copy-wrapper {
	margin: 4em;
    max-width: 400px;
    width: 88%;
    display: flex;
    flex-wrap: wrap;
/*    position: relative;*/

}

h1 {
	font-size: 30px;
	font-family: Futura, Helvetica, sans-serif;
	color: #d1d2d4;
	text-shadow: 2px 2px 6px #000000;
	width: 80%;
}

.intro-para {
	font-size: 16px;
	font-family: Futura, Helvetica, sans-serif;
	color: white;
	text-shadow: 2px 2px 6px #000000;
	width: 80%;

}

/* Media Queries
------------------------------------------*/

@media screen and (min-width: 480px) {
  
	.body-copy-wrapper {
			display: flex;
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			width:36%;
		border-radius:5px;
		padding: .5em;
		margin:4em;
	}


	h1, .intro-para{ 
		width:100%;
	}


	.logo {
	padding-left: 1em;
	padding-right: 2em;
	}
	.nav-links {
		display: flex;
		flex-wrap: wrap;
		/*justify-content: center;*/
		padding-right: 2em;
	}


} /*Always leave this bracket here, as it's to close the media query*/




