/*

Title: Stylesheet Template

Author: Maurice van Cooten

*/

body {
  background: #eee;
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin:0;
}

a {
  color:crimson;
  text-decoration:none;
}

a:hover {
  color:red;
}

/* Layout
------------------------------------------*/

header,
.container,
footer {
  margin: 0 auto;
  width:88%;
  max-width: 960px;
}

.wrapper {
  padding:1em 0;
  background: #fff;
}

/* Navigation (via Responsive-Nav.js)
   ========================================================================== */
/**
 * Style mobile first version of the navigation menu. Desktop version will
 * override some rules with extra styling in subsequent breakpoint.
 *
 * Example HTML:
 *
 * <nav class="nav-collapse">
 *     <ul>
 *         <li class="active"><a></li>
 *         <li><a></li>
 *         <li><a></li>
 *     </ul>
 * </nav>
 */

.nav-collapse {
  font-size: 14px;
  font-family: Futura, Helvetica, sans-serif;
  background-color: #FFFFFF; 
}

/*@media (min-width: 36em) {
  .nav-collapse {
    border-top: 1px solid #cccccc; 
  } 
}*/

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  display: block;
  overflow: hidden; 
}

@media (min-width: 36em) {
  .js .nav-collapse {
      max-height: none; 
  } 
}

.nav-collapse ul {
  max-width: 100%;
  display: block;
  margin: 0,auto;
  display: block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  margin-left: 3.5em; 
  padding-top:2em;
  padding-right: 2.8em;
}

@media (min-width: 36em) {
  .nav-collapse ul {
    width: 88%; 
  } 
}

.nav-collapse li {
  -moz-transition: box-shadow 0.1s linear;
  -o-transition: box-shadow 0.1s linear;
  -webkit-transition: box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear;
  border-top: 1px solid #cccccc;
  background-color: #eeeeee; 
}

.nav-collapse li:hover {
  background-color: #f8f8f8; 
}

.nav-collapse li:active {
  -moz-box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
  background-color: #e4e4e4;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzZDNkMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U0ZTRlNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d3d3d3), color-stop(100%, #e4e4e4));
  background-image: -moz-linear-gradient(#d3d3d3, #e4e4e4);
  background-image: -webkit-linear-gradient(#d3d3d3, #e4e4e4);
  background-image: linear-gradient(#d3d3d3, #e4e4e4); 
}

.nav-collapse li.active {
  background-color: white; 
}

@media (min-width: 36em) {
  .nav-collapse li {
    float: left;
    border-top: 0;
    border-right: solid 1px #cccccc; 
  }
  .nav-collapse li:first-child {
    border-left: solid 1px #cccccc; 
  } 
}

.nav-collapse a {
  display: block;
  padding: 0.5em 6%;
  color: #333;
  text-decoration: none; 
}

.nav-collapse a:hover, .nav-collapse a:visited {
  color: #333;
  text-decoration: none; 
}

.nav-collapse a:active {
  color: #1a1a1a;
  text-decoration: none; 
}

@media (min-width: 36em) {
  .nav-collapse a {
      padding: 0.5em 1em; 
  } 
}

.nav-collapse.opened {
  max-height: 9999px; 
}

/**
 * Disable `pointer-events` so that touch taps are processed immediately
 * (otherwise a tap delay is used before the event fires).
 */

.disable-pointer-events {
  pointer-events: none !important; 
}

/**
 * Navigation toggle show/hide button for mobile first navigation.
 *
 * This HTML is generated by JavaScript.
 *
 * 1. Disables the default bubble shown when you touch and hold a touch target.
 *
 * Example HTML:
 *
 * <a class="nav-toggle">
 */

.nav-toggle {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  -webkit-touch-callout: none; /* 1 */
  float: right;
  margin-right: 6%;
  border: 1px solid #cccccc;
  width: 32px;
  height: 32px;
  background-image: url("hamburger.png");
  background-size: 32px 32px; 
}

@media (min-width: 36em) {
  .nav-toggle {
    display: none; 
  } 
}
  
.nav-toggle:hover, .nav-toggle.active {
  background-color: #eeeeee; 
}

.nav-toggle:active {
  background-color: #cccccc; 
}
